<h5>Calcular Tokens ECTS</h5>

<div class="row">
    <div class="col">
        Mediante esta funcionalidad puede calcular los tokens ECTS necesarios para matricularse en una asignatura en una universidad concreta basado en el año de experimentabilidad de la asignatura o en el año de matriculación. Para ello se muestra en el desplegable
        de asignaturas las asignaturas disponibles para verificar su experimentabilidad y los créditos necesarios.
    </div>
</div>
<div class="row m-2 align-items-center">
    <div class="col-3">
        Asignaturas :
    </div>
    <div class="col-9">
        <select class="form-control">
            <option *ngFor="let u of asignaturas" [value]="u.address">
                {{u.nombre}} ( {{u.simbolo}} ) - Exp: {{ u.experimentabilidad }}  - Créditos: {{ u.creditos }}
            </option>
        </select>
    </div>
</div>
<div class="row m-2 align-items-center">
    <div class="col-3">
        Universidad :
    </div>
    <div class="col-9">
        <select class="form-control" [(ngModel)]="universidad">
            <option *ngFor="let u of universidades" [value]="u.address">{{u.nombre}}</option>
        </select>
    </div>
</div>
<div class="row m-2 align-items-center">
    <div class="col-3">
        Experimentabilidad :
    </div>
    <div class="col-9">
        <select class="form-control" [(ngModel)]="exp">
            <option *ngFor="let a of experimentabilidad" [value]="a.id">{{a.label}}</option>
        </select>
    </div>
</div>
<div class="row m-2 align-items-center">
    <div class="col-3">
        Año de matrícula :
    </div>
    <div class="col-9">
        <select class="form-control" [(ngModel)]="anio">
            <option *ngFor="let a of anios" [value]="a.id">{{a.label}}</option>
        </select>
    </div>
</div>
<div class="row m-2 align-items-center">
    <div class="col-3">
        Créditos :
    </div>
    <div class="col-3">
        <input class="form-control" type="number" [(ngModel)]="creditos" />
    </div>
    <div class="col-6">
        <button class="btn btn-info" (click)="calcularECTS()">Calcular ECTS</button>
    </div>
</div>
<div class="row m-2 align-items-center">
    <div class="col-3">
        Tokens ECTS Necesarios :
    </div>
    <div class="col-3">
        <input class="form-control" type="number" disabled [(ngModel)]="ects" />
    </div>
</div>