<h5>Calcular Tokens ECTS</h5>

<div class="row">
    <div class="col">
        Mediante esta funcionalidad puede calcular los tokens ECTS necesarios para adquirir un número de créditos necesarios para matricularse en una asignatura en una universidad
    </div>
</div>

<div class="row m-2 align-items-center">
    <div class="col-3">
        Universidad :
    </div>
    <div class="col-3">
        <select class="form-control">
            <option>0x...</option>
        </select>
    </div>
    <div class="col-6">
        UNIR
    </div>
</div>
<div class="row m-2 align-items-center">
    <div class="col-3">
        Asignatura :
    </div>
    <div class="col-3">
        <select class="form-control">
            <option>0x...</option>
        </select>
    </div>
    <div class="col-6">
        Desarrollo de Aplicaciones Blockchain (DBC)
    </div>
</div>
<div class="row m-2 align-items-center">
    <div class="col-3">
        Créditos :
    </div>
    <div class="col-3">
        <input class="form-control" type="text" name="creditos" value="" />
    </div>
    <div class="col-6">
        <button class="btn btn-info">Calcular ECTS</button>
    </div>
</div>
<div class="row m-2 align-items-center">
    <div class="col-3">
        Tokens ECTS Necesarios :
    </div>
    <div class="col-9">
        1200000
    </div>
</div>