<h4>Calcular Tokens ECTS</h4>

<p>Mediante esta funcionalidad puede calcular los tokens ECTS necesarios para adquirir un número de créditos necesarios para matricularse en una asignatura en una universidad</p>
<table>
    <tr>
        <td>Universidad: </td>
        <td><select>
            <option>0x...</option>
        </select></td>
        <td>
            UNIR
        </td>
    </tr>
    <tr>
        <td>Asignatura: </td>
        <td><select>
            <option>0x...</option>
        </select></td>
        <td>
            Desarrollo de Aplicaciones Blockchain (DBC)
        </td>
    </tr>
    <tr>
        <td>Créditos: </td>
        <td><input type="text" name="creditos" value="" /></td>
        <td>
            <button>Calcular ECTS</button>
        </td>
    </tr>
    <tr>
        <td colspan="2">Tokens ECTS necesarios</td>
        <td>1200000</td>
    </tr>
</table>