<h4>Matricular en Asignatura</h4>

<p>Mediante esta funcionalidad puede matricularse en una asignatura en una universidad</p>
<table>
    <tr>
        <td>Universidad: </td>
        <td><select>
            <option>0x...</option>
        </select></td>
        <td>
            UNIR
        </td>
    </tr>
    <tr>
        <td>Asignatura: </td>
        <td><select>
            <option>0x...</option>
        </select></td>
        <td>
            Desarrollo de Aplicaciones Blockchain (DBC)
        </td>
    </tr>
    <tr>
        <td>Créditos: </td>
        <td>1200000</td>
        <td>
            <button>Matricularme</button>
        </td>
    </tr>
</table>