<h5>Matricular en Asignatura</h5>

<div class="row">
    <div class="col">
        Mediante esta funcionalidad puede matricularse en una asignatura en una universidad
    </div>
</div>
<div class="row m-2 align-items-center">
    <div class="col-3">
        Universidad :
    </div>
    <div class="col-3">
        <select class="form-control">
            <option>0x...</option>
        </select>
    </div>
    <div class="col-6">
        UNIR
    </div>
</div>
<div class="row m-2 align-items-center">
    <div class="col-3">
        Asignatura :
    </div>
    <div class="col-3">
        <select class="form-control">
            <option>0x...</option>
        </select>
    </div>
    <div class="col-6">
        Desarrollo de Aplicaciones Blockchain (DBC) - 10 créditos
    </div>
</div>
<div class="row m-2 align-items-center">
    <div class="col-3">
        Tokens ECTS Necesarios :
    </div>
    <div class="col-6">
        1234567000
    </div>
</div>
<div class="row m-2 align-items-center justify-content-end">
    <div class="col-9">
        <button class="btn btn-primary">Matricular en Asignatura</button>
    </div>
</div>