<h5>Matricular en Asignatura</h5>

<div class="row">
    <div class="col">
        Mediante esta funcionalidad puede matricularse en una asignatura en una universidad
    </div>
</div>
<div class="row m-2 align-items-center">
    <div class="col-3">
        Universidad :
    </div>
    <div class="col-9">
        <select class="form-control" [(ngModel)]="universidad">
            <option *ngFor="let u of universidades" [value]="u.address">{{u.nombre}}</option>
        </select>
    </div>
</div>
<div class="row m-2 align-items-center">
    <div class="col-3">
        Tokens ECTS Disponibles :
    </div>
    <div class="col-3">
        <input class="form-control" type="number" disabled [(ngModel)]="tokens" />
    </div>
    <div class="col-6">
        <button class="btn btn-info" (click)="obtenerECTSTokensPorUniversidad()">Balance</button>
    </div>
</div>
<div class="row m-2 align-items-center">
    <div class="col-3">
        Asignaturas :
    </div>
    <div class="col-9">
        <select class="form-control" [(ngModel)]="asignatura">
            <option *ngFor="let a of asignaturas" [value]="a.address">
                {{a.nombre}} ( {{a.simbolo}} ) - Exp: {{ a.experimentabilidad }}  - Créditos: {{ a.creditos }}
            </option>
        </select>
    </div>
</div>
<div class="row m-2 align-items-center">
    <div class="col-3">
        Curso Académico :
    </div>
    <div class="col-9">
        <input class="form-control" type="text" disabled [(ngModel)]="curso" />
    </div>
</div>
<div class="row m-2 align-items-center justify-content-end">
    <div class="col-9">
        <button class="btn btn-primary" (click)="matricular()">Matricular en Asignatura</button>
    </div>
</div>

<ng-template #matricularModal let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Matricular en Asignatura</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
            <p>¿Está seguro de matricularse en la asignatura? Pulse Aceptar para continuar.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ngbAutofocus (click)="modal.close('ok')"><i class="ik ik-check-circle"></i>Aceptar</button>
            <button type="button" class="btn btn-secondary" (click)="modal.close('cancel')"><i class="ik ik-x-circle"></i>Cancelar</button>
        </div>
    </div>
</ng-template>