<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
     :host {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 14px;
        color: #333;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    .toolbar {
        height: 60px;
        margin: -8px;
        display: flex;
        align-items: center;
        background-color: #1976d2;
        color: white;
        font-weight: 600;
    }
    
    .toolbar img {
        margin: 0 16px;
        background-color: white;
        padding: 2px 10px;
        border-radius: 5px;
    }
    
    .toolbar #twitter-logo {
        height: 40px;
        margin: 0 16px;
    }
    
    .toolbar #twitter-logo:hover {
        opacity: 0.8;
    }
    
    .content {
        display: flex;
        margin: 32px auto;
        padding: 0 16px;
        max-width: 960px;
        flex-direction: column;
        align-items: center;
    }
    
    svg.material-icons {
        height: 24px;
        width: auto;
    }
    
    svg.material-icons:not(:last-child) {
        margin-right: 8px;
    }
    
    #consola {
        background-color: #333;
        overflow: auto;
        height: 300px;
        color: white;
    }
    
     ::ng-deep pre {
        font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
        color: limegreen;
        overflow: unset;
        padding: 0 0.5rem 0.5rem;
        margin: 0;
    }
    
    footer {
        margin-top: 8px;
        display: flex;
        align-items: center;
        line-height: 20px;
    }
    
    footer a {
        display: flex;
        align-items: center;
    }
    
    .github-star-badge {
        color: #24292e;
        display: flex;
        align-items: center;
        font-size: 12px;
        padding: 3px 10px;
        border: 1px solid rgba(27, 31, 35, .2);
        border-radius: 3px;
        background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
        margin-left: 4px;
        font-weight: 600;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    }
    
    .github-star-badge:hover {
        background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
        border-color: rgba(27, 31, 35, .35);
        background-position: -.5em;
    }
    
    .github-star-badge .material-icons {
        height: 16px;
        width: 16px;
        margin-right: 4px;
    }
</style>

<!-- Toolbar -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="assets/img/logo-unir.png" height="40" class="d-inline-block align-top" alt="">
    </a>
    <span class="navbar-text">
        UNIR :: TFE :: Experto Universitario en Desarrollo Blockchain (2019 / 20)
    </span>
</nav>

<div class="content" role="main">
    <div class="container">

        <h4>{{ title }}</h4>

        <div class="row align-items-center">
            <div clas="col-3">
                Seleccione la cuenta de acceso:
            </div>
            <div class="col-2">
                <div class="btn-group" dropdown>
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Cuenta
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a *ngFor="let i of accounts" (click)="onChange(i)" class="dropdown-item">{{ i }}
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-7 text-right" [hidden]="!isParametrizado()">
                Bienvenid@ {{usuario.nombre}} ( {{ selectedAccount }})
            </div>
            <div class="col-7 text-right" [hidden]="isParametrizado()">
                Pendiente de Parametrizar
            </div>
        </div>

        <div class="row mt-3" [hidden]="isParametrizado()">
            <div class="col">
                <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading">Pendiente de Parametrizar!</h4>
                    <p>Antes de comenzar a utilizar esta Dapp debe parametrizarlo primero para ello debe poder acceder con la cuenta asociada al Estado y ejecutar las opciones de paramtrización necesarias.</p>

                </div>
            </div>
        </div>
        <div class="row" [hidden]="isParametrizado() || disableOpcionesEstado">
            <div class="col text-center">
                <button class="btn btn-danger" name="parametrizar" (click)="inicializarEntidades()" [disabled]="isEntidadesInicializadas()">Inicializar Entidades</button>&nbsp;&nbsp;&nbsp;
                <button class="btn btn-danger" name="registrarUniversidades" (click)="registrarUniversidadesEnAsignatura()" [disabled]="!isEntidadesInicializadas()">Registrar Universidades en Asignatura</button>
            </div>
        </div>
    </div>


    <!-- Opciones de la aplicación -->
    <div class="container mt-3" [hidden]="! isParametrizado()">

        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-calcular" role="tab" aria-controls="pills-calcular" aria-selected="true">Calcular ECTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-comprar" role="tab" aria-controls="pills-comprar" aria-selected="false" [hidden]="disableOpcionesAlumno">Comprar ECTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-matricular" role="tab" aria-controls="pills-matricular" aria-selected="false" [hidden]="disableOpcionesAlumno">Matricular</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-evaluar" role="tab" aria-controls="pills-evaluar" aria-selected="false" [hidden]="disableOpcionesProfesor">Evaluar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-trasladar" role="tab" aria-controls="pills-trasladar" aria-selected="false" [hidden]="disableOpcionesAlumno">Traslado</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-calcular" role="tabpanel" aria-labelledby="pills-calcular-tab">
                <app-calcular-ects></app-calcular-ects>
            </div>
            <div class="tab-pane fade" id="pills-comprar" role="tabpanel" aria-labelledby="pills-comprar-tab" [hidden]="disableOpcionesAlumno">
                <app-comprar-ects></app-comprar-ects>
            </div>
            <div class="tab-pane fade" id="pills-matricular" role="tabpanel" aria-labelledby="pills-matricular-tab" [hidden]="disableOpcionesAlumno">
                <app-matricular-asignatura></app-matricular-asignatura>
            </div>
            <div class="tab-pane fade" id="pills-evaluar" role="tabpanel" aria-labelledby="pills-evaluar-tab" [hidden]="disableOpcionesProfesor">
                <app-evaluar-asignatura></app-evaluar-asignatura>
            </div>
            <div class="tab-pane fade" id="pills-trasladar" role="tabpanel" aria-labelledby="pills-trasladar-tab" [hidden]="disableOpcionesAlumno">
                <app-trasldar-asignatura></app-trasldar-asignatura>
            </div>
        </div>
    </div>


    <!-- consola-->
    <div class="container">
        <hr noshade="true" style="background-color: #cccccc;" />
        <div class="row">
            <div class="col text-right">
                <button (click)="borrarConsola()" class="btn btn-primary">Borrar Consola</button>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <div class="card p-2" id="consola" [innerHTML]="consola">
                </div>
            </div>
        </div>

    </div>

    <!-- Footer -->
    <footer>
        {{ title }} (&copy; 2020 Javier Montesinos)&nbsp;
        <a href="https://github.com/fjmontesinos/unir-tfe-open-zeppelin" target="_blank" rel="noopener"> Repositorio GitHub.
            <div class="github-star-badge">
                <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
            Star
            </div>
        </a>
        <a href="https://github.com/fjmontesinos/unir-tfe-open-zeppelin" target="_blank" rel="noopener">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2"/><path d="M0 0h24v24H0z" fill="none"/></svg>
        </a>
    </footer>

</div>