<h4>Trasladar Matrícula de Asignatura</h4>

<p>Mediante esta funcionalidad puede solicitar el traslado de una asignatura a otra universidad</p>
<table>
    <tr>
        <td>Asignatura: </td>
        <td><select>
            <option>0x...</option>
        </select></td>
        <td>
            Desarrollo de Aplicaciones Blockchain (DBC)
        </td>
    </tr>
    <tr>
        <td>Universidad: </td>
        <td><select>
            <option>0x...</option>
        </select></td>
        <td>
            UNIR
        </td>
    </tr>
    <tr>
        <td>
            <button>Trasladar Asignatura</button>
        </td>
    </tr>
</table>