<h5>Trasladar Matrícula de Asignatura</h5>

<div class="row">
    <div class="col">
        Mediante esta funcionalidad puede solicitar el traslado de una asignatura a otra universidad
    </div>
</div>
<div class="row m-2 align-items-center">
    <div class="col-3">
        Asignatura :
    </div>
    <div class="col-3">
        <select class="form-control">
            <option>0x...</option>
        </select>
    </div>
    <div class="col-6">
        Desarrollo de Aplicaciones Blockchain (DBC)
    </div>
</div>
<div class="row m-2 align-items-center">
    <div class="col-3">
        Universidad :
    </div>
    <div class="col-3">
        <select class="form-control">
            <option>0x...</option>
        </select>
    </div>
    <div class="col-6">
        UNIR
    </div>
</div>
<div class="row m-2 align-items-center justify-content-end">
    <div class="col-9">
        <button class="btn btn-primary">Trasladar Asignatura</button>
    </div>
</div>