<h5>Comprar Tokens ECTS</h5>

<div class="row">
    <div class="col">
        Mediante esta funcionalidad puede calcular los weis necesarios para adquirir un determinado número de Tokens en una universidad
    </div>
</div>

<div class="row m-2 align-items-center">
    <div class="col-3">
        Universidad :
    </div>
    <div class="col-3">
        <select class="form-control">
            <option>0x...</option>
        </select>
    </div>
    <div class="col-6">
        UNIR
    </div>
</div>
<div class="row m-2 align-items-center">
    <div class="col-3">
        Créditos :
    </div>
    <div class="col-3">
        <input class="form-control" type="text" name="creditos" value="" />
    </div>
    <div class="col-6">
        <button class="btn btn-info">Calcular Weis</button>&nbsp;
        <button class="btn btn-primary">Comprar ECTS</button>
    </div>
</div>
<div class="row m-2 align-items-center">
    <div class="col-3">
        Weis Necesarios :
    </div>
    <div class="col-9">
        68000000000
    </div>
</div>