<h5>Comprar Tokens ECTS</h5>

<div class="row">
    <div class="col">
        Mediante esta funcionalidad puede calcular los weis necesarios para adquirir un determinado número de Tokens en una universidad
    </div>
</div>

<div class="row m-2 align-items-center">
    <div class="col-3">
        Universidad :
    </div>
    <div class="col-3">
        <select class="form-control">
            <option>0x...</option>
        </select>
    </div>
    <div class="col-6">
        UNIR
    </div>
</div>
<div class="row m-2 align-items-center">
    <div class="col-3">
        Créditos :
    </div>
    <div class="col-3">
        <input class="form-control" type="text" name="creditos" value="" />
    </div>
    <div class="col-6">
        <button class="btn btn-info">Calcular Weis</button>&nbsp;
        <button class="btn btn-primary" (click)="comprarTokens()">Comprar ECTS</button>
    </div>
</div>
<div class="row m-2 align-items-center">
    <div class="col-3">
        Weis Necesarios :
    </div>
    <div class="col-9">
        68000000000
    </div>
</div>

<ng-template #comprarEctsModal let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Comprar ECTS</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
            <p>¿Está seguro de comprar los créditos indicados? Pulse Aceptar para continuar.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ngbAutofocus (click)="modal.close('ok')"><i class="ik ik-check-circle"></i>Aceptar</button>
            <button type="button" class="btn btn-secondary" (click)="modal.close('cancel')"><i class="ik ik-x-circle"></i>Cancelar</button>
        </div>
    </div>
</ng-template>