<h4>Comprar Tokens ECTS</h4>

<p>Mediante esta funcionalidad puede calcular los weis necesarios para adquirir un determinado número de Tokens en una universidad</p>
<table>
    <tr>
        <td>Universidad: </td>
        <td><select>
            <option>0x...</option>
        </select></td>
        <td>Créditos: </td>
        <td><input type="text" name="creditos" value="" /></td>
        <td>
            <button>Calcular Weis</button>&nbsp;|&nbsp;
            <button>Comprar ECTS</button>
        </td>
    </tr>
    <tr>
        <td colspan="3">Weis</td>
        <td colspan="2">680000000000</td>
    </tr>
</table>