<h4>Evaluar Asignatura</h4>

<p>Mediante esta funcionalidad podrá registrar las notas finales sobre una matrículo de los alumnos matriculados en una asignatura</p>
<table>
    <tr>
        <td>Asignatura: </td>
        <td><select>
            <option>0x...</option>
        </select></td>
        <td>
            Desarrollo de Aplicaciones Blockchain (DBC)
        </td>
    </tr>
    <tr>
        <td>Alumno: </td>
        <td><select>
            <option>0x...</option>
        </select></td>
        <td>
            Javier Montesinos
        </td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td>
            <button>Evaluar</button>
        </td>
    </tr>
</table>