<h5>Evaluar Asignatura</h5>

<div class="row">
    <div class="col">
        Mediante esta funcionalidad podrá registrar las notas finales sobre una matrículo de los alumnos matriculados en una asignatura
    </div>
</div>
<div class="row m-2 align-items-center">
    <div class="col-3">
        Asignatura :
    </div>
    <div class="col-3">
        <select class="form-control">
            <option>0x...</option>
        </select>
    </div>
    <div class="col-6">
        Desarrollo de Aplicaciones Blockchain (DBC)
    </div>
</div>
<div class="row m-2 align-items-center">
    <div class="col-3">
        Alumno :
    </div>
    <div class="col-3">
        <select class="form-control">
            <option>0x...</option>
        </select>
    </div>
    <div class="col-6">
        Javier Montesinos
    </div>
</div>
<div class="row m-2 align-items-center justify-content-end">
    <div class="col-9">
        <button class="btn btn-primary">Evaluar Asignatura</button>
    </div>
</div>

<h4></h4>